{{define "subject"}}Content Pusher - Your password has been changed{{end}}
{{define "body_html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Content Pusher - Your password has been changed </title>
</head>
<body>
<pre>  
 
	Hello:  {{.toname}} 

	This is to inform you that your password for Content Pusher has been chagned.

	You have received this email because you created an account on <a href="http://www.2c-why.com/content-pusher">http://www.2c-why.com/content-pusher</a>.
	If you do not want this account then follow the "unsubscribe" link at the bottom. 

	<a href="http://www.2c-why.com/cp-tool/#/unsubscribe">unsubscribe</a>

	(Privacy Statment - we have no intention of sharing your email address with anybody or any other compaines.)

</pre>  
</body>
</html>
{{end}}
{{define "body_text"}}
    
	Hello:  {{.toname}} 

	This is to inform you that your password for Content Pusher has been chagned.

	You have received this email because you created an account on http://www.2c-why.com/content-pusher .
	If you do not want this account then follow the "unsubscribe" link at the bottom. 

	To Unsubscribe cut/paste the link into a browser:
		http://www.2c-why.com/cp-tool/#/unsubscribe

	(Privacy Statment - we have no intention of sharing your email address with anybody or any other compaines.)
    
{{end}}
